ADMIN_PASSWORD=
ADMIN_USERNAME=
API_TRACKER_BASE_URL=
API_TRACKER_FILE_TIMEOUT=
API_TRACKER_SCAN_POLL_INTERVAL=
ARTISTGRID_FILE_TIMEOUT=
ARTISTGRID_SCAN_POLL_INTERVAL=
BACKEND_MEM_LIMIT=
BACKEND_PORT=
COOKIE_SECURE=
COVER_SIGN_KEY=
DATABASE_URL=
DISCORD_CLIENT_ID=
EXPO_PUBLIC_SENTRY_DEBUG=
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_ENVIRONMENT=
FILEN_DOWNLOADER_SCRIPT=
FILEN_FILE_TIMEOUT=
FILEN_SCAN_POLL_INTERVAL=
FRONTEND_MEM_LIMIT=
FRONTEND_PORT=
HIFI_API_GID=
HIFI_API_MEM_LIMIT=
HIFI_API_PORT=
HIFI_API_UID=
HTTP_ADDR=
LASTFM_API_KEY=
LASTFM_SHARED_SECRET=
MUSIC_GROUP_GID=
MUSIC_HOST_PATH=
MUSIC_PATH=
PERSONAL_UPLOAD_QUOTA_MB=
POSTGRES_DB=
POSTGRES_MEM_LIMIT=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
SESSION_COOKIE=
SESSION_TTL=
TIDAL_COUNTRY_CODE=
TIDAL_DOWNLOAD_FILE_TIMEOUT=
TIDAL_DOWNLOAD_MIN_FREE_MB=
TIDAL_DOWNLOAD_POLL_INTERVAL=
TIDAL_HIFI_DEV_MODE=
TIDAL_HIFI_FALLBACK_TO_DIRECT_CONNECTION=
TIDAL_HIFI_MAX_RETRIES=
TIDAL_HIFI_ROTATE_PROXIES_ON_REFRESH=
TIDAL_HIFI_USE_PROXIES=
TIDAL_QUALITY=
TRANSCODE_CACHE=
TRUSTED_PROXIES=
UPDATE_REPO_URL=